@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');

body {
    background-color: #FFFFFF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #1A194D;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.navbar {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding: 30px 15%;
    transition: all 0.8s ease 0s;
}

.logoholder {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: auto;
}

.imglogo {
    height: 50px;
    width: 50px;
}

.titlelogo {
    color: #1A194D;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 800;
    margin-left: 10px;
}


.nava, .navl, .navbtn {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #1A194D;
    text-decoration: none;
}

.nav_links {
    list-style: none;
}

.navl {
    display: inline-block;
    margin:auto;
    padding: 0 20px;    
}

.nava {
    transition: all 0.3s ease 0s;
}

.nava:hover {
    color: #9c56f5;
}

.navbtn {
    padding: 9px 25px;
    color: #FFFFFF;
    background-color: #9c56f5;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
}

.navbtn {
    height: auto;
    padding: 9px 25px;
    color: #FFFFFF;
    background-color: #9c56f5;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 16px;
}

.navbtn:hover {
    background-color: #8431f1;
}

.navbtnScnd {
    height: auto;
    width: auto;
    padding: 9px 25px;
    color: #9c56f5;
    background-color: #FFFFFF;
    border: solid;
    border-radius: 50px;
    border-color: 9c56f5;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 16px;
}

.navbtn:hover {
    background-color: #8431f1;
}

.sticky {
    margin-bottom: 50px;
    background-color: #1A194D;
    position: fixed;
    top: 0;
    width: 100%;
}

.stickylinks {
    color: #FFFFFF;
}


.home {
    margin-top: 110px;
    padding: 10px 15%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.home2 {
    margin-top: 110px;
    padding: 10px 15%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #1A194D;
}

.homeInfo {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: auto;
}

.infoText {
    color: #1A194D;
    font-size: 28px;
    width: 50%;
    float: left;
    margin: auto auto auto;
}

.infoImg {
    margin-left: auto;
    width: 50%;
    height: auto;
    float: right;
    margin: auto auto auto;
    margin-left: 0px;
    vertical-align: middle;
    justify-content: end;
}

.dataImg {
    max-width: 700px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0px;
    vertical-align: auto;
    object-fit: contain;
    vertical-align: middle;
}

.infoTextGradient {
    background: linear-gradient(to right, #9c56f5, #f55688, #f556f5, #9c56f5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 60s linear infinite;
    }
  
@keyframes gradient-animation {
    from {
      background-position: 1000vh;
    }
}

.emailField {
    padding: 7px 7px 7px 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    height: 60px;    
    width: 500px;
    border: solid;
    border-radius: 1px;
    border-color: #C0C3D9;
    border-radius: 60px;
}

.infoTextEmail {
    border-radius: 100px;
    padding: 10px;
    border: none;
    width: 275px;
}

.emailFooterInfo {
    color: #C0C3D9;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 14px;
}


.cardsHolder {
    margin-top: 110px;
    margin-bottom: 110px;
    margin-left:  auto;
    margin-right:  auto;
    width: 90%;
    background-color: #9c56f5;
    height: auto;
    border-radius: 20px;
    box-shadow:  0 6px 10px rgba(0, 0, 0, 0.13);
}

.cardsContainer {
    margin-top: auto;
    margin-bottom: auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 3% 5% 3%;
}

.cardInfo {
    height: auto;
    width: auto;
    color: #FFFFFF;
    justify-content: space-between;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.cardInfoTitle {
    color: white;
    font-size: auto;
}

.cardInfoDesc {
    color: white;
}
 
.curve {
    margin-top: -110px;
    fill: #1A194D;
    padding: 0 0 0 0;
    width: 100%;
    position: absolute;
    left: 0;
}

.FooterInfoText {
    padding: 50px 20% 50px 20%;
    text-align: center;
}

#FooterInfoText {
    color: white;
}